body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.player {
  font-size: min(40px, 5vw);
  font-family: 'Creepster', cursive;
  /* text-shadow:
      0 0 4px #fff,
      0 0 5px #fff,
      0 0 8px #fff,
      0 0 10px rgb(0, 255, 13),
      0 0 10px rgb(0, 255, 13),
      0 0 20px rgb(0, 255, 13),
      0 0 25px rgb(0, 255, 13),
      0 0 60px rgb(0, 255, 13); */
}

.boardGame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.space {
  display: flex;
  height: 10vw;
  width: 10vw;
  border: solid white;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1rem #f0f,
            0 0 0.6rem #f0f,
            0 0 2.4rem #f0f,
            inset 0 0 1.0rem #f0f; 
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-family: 'Creepster', cursive;
  font-size: min(30px, 5vw);
}

header {
  padding-top: 30px;
  font-size: min(60px, 10vw);
  font-family: 'Creepster', cursive;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 20px #f0f,
      0 0 40px #f0f,
      0 0 50px #f0f,
      0 0 90px #f0f,
      0 0 120px #f0f;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

#playagain {
  background-color: #f0f;
}

.hide {
  visibility: hidden;
}


footer {
  padding-bottom: 10px;
}
